// COLORS

// #### Text

// (sub-heading at the top of the app UI)
$Pale-Violet: hsl(276, 100%, 81%);

// (chat on the left)
$Moderate-Violet: hsl(276, 55%, 52%);

// (chat on the right)
$Desaturated-Dark-Violet: hsl(271, 15%, 43%);

// (placeholder text):
$Grayish-Blue: hsl(206, 6%, 79%);

// (main heading)
$Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);

// (paragraph):
$Dark-Grayish-Violet: hsl(270, 7%, 64%);

// ### Secondary
$White: hsl(0, 0%, 100%);

// (app background)
$Light-Grayish-Violet: hsl(270, 20%, 96%);

// (left bubble background)
$Light-Grayish-Violet-2: hsl(270, 20%, 90%);

// (submit button background)
$Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);

// (radio button outline)
$Very-Light-Magenta: hsl(289, 100%, 72%);

// gradients
$Light-Magenta: hsl(293, 100%, 63%);
$Light-Violet: hsl(264, 100%, 61%);
