.typography {
  max-width: 45rem;
  font-size: 1.6rem;

  h2 {
    font-size: 4rem;
    color: $Very-Dark-Desaturated-Violet;
    font-weight: 400;
  }

  p {
    color: $Dark-Grayish-Violet;
    line-height: 2.7rem;
  }
}
